@import "fonts";

$maxWidth:2000;
$minWidth: $maxWidth / 2;
@mixin a-v ($property, $startSize){
  $minSize: $startSize / 2;
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
}
@mixin border ($property, $startSize, $style, $color){
  $minSize: $startSize / 2;
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth})) $style $color;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,*::after,*::before{
  box-sizing:inherit;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
ul, li{
  list-style: none;
  margin:0;
  padding: 0;
}
img {
  border-style: none;
}
.container{
  @include a-v("width", 1400);
  @include a-v("padding-top", 0);
  @include a-v("padding-right", 0);
  @include a-v("padding-bottom", 0);
  @include a-v("padding-left", 0);
  margin: 0 auto;
}
body{
  font-family: 'Roboto-Regular';
  @include a-v("font-size", 24);
  @include a-v("line-height", 24);
  font-weight: 400;
  color: #000;
  background-color: #fff;
  margin: 0;
}


.header {
  @include a-v("padding-top", 30);
  @include a-v("padding-bottom", 30);
  background-color: #5386FF;
}
.h1 {
  @include a-v("font-size", 36);
  @include a-v("line-height", 36);
  color:#fff;
  font-family: 'Roboto-Medium';
  font-weight: 500;
}
.calc {
  &__body {
    @include a-v("padding-top", 30);
    @include a-v("padding-bottom", 30);
    display: flex;
    justify-content: space-between;
  }

  &__body-title {
    @include a-v("font-size", 36);
    @include a-v("line-height", 36);
    @include a-v("margin-bottom", 30);
    @include a-v("padding-bottom", 10);
    @include border("border-bottom", 1, solid, #5386FF);
    display: inline-block;
    font-family: 'Roboto-Medium';
    font-weight: 500;
  }

  &__body-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &__body-item-title {
    @include a-v("font-size", 24);
    @include a-v("line-height", 24);
    font-family: 'Roboto-Medium';
    font-weight: 500;
  }
  &__body-item-title-p {
    @include a-v("padding-top", 10);
    @include a-v("padding-bottom", 20);
  }

  &__body-item-input {
    @include a-v("width", 300);
    @include a-v("height", 40);
    @include a-v("font-size", 24);
    @include a-v("line-height", 24);
    @include a-v("padding-top", 8);
    @include a-v("padding-right", 15);
    @include a-v("padding-bottom", 8);
    @include a-v("padding-left", 15);
    @include a-v("margin-top", 20);
    @include a-v("margin-bottom", 20);
    @include border("border", 1, solid, #5386FF);
    font-family: 'Roboto-Medium';
    font-weight: 500;
    box-sizing:border-box;
    outline: none;
  }

  &__body-item-input::-webkit-outer-spin-button, &__body-item-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

  &__body-item-subtitle {
    @include a-v("font-size", 20);
    @include a-v("line-height", 20);
  }

  &__body-item-input-short {
    @include a-v("width", 100);
    @include a-v("padding-right", 5);
    @include a-v("padding-left", 5);
    @include a-v("margin-top", 60);
    @include a-v("margin-bottom", 0);
    text-align: center;
  }

  &__body-item-input-short-p-n {
    @include a-v("margin-top", 20);
  }

  &__body-item-input-short-p-h {
    @include a-v("margin-top", 114);
  }

  &__body-item-input-short-0 {
    @include a-v("width", 100);
    @include a-v("padding-right", 5);
    @include a-v("padding-left", 5);
    text-align: center;
  }

  &__body-item-btn-wrapper{
    @include a-v("margin-top", 20);
  }

  &__body-item-btn {
    @include a-v("font-size", 24);
    @include a-v("line-height", 24);
    @include a-v("padding-top", 8);
    @include a-v("padding-right", 20);
    @include a-v("padding-bottom", 8);
    @include a-v("padding-left", 20);
    @include a-v("border-radius", 10);
    @include border("border", 1, solid, #5386FF);
    font-family: 'Roboto-Medium';
    font-weight: 500;
    box-sizing:border-box;
    background-color: #fff;
    cursor: pointer;
  }

  &__body-item-btn + &__body-item-btn{
    @include a-v("margin-left", 10);
  }

  &__body-item-btn:hover{
    background-color: #5386FF;
    color:#fff;
  }

  &__body-item-btn--active {
    background-color: #5386FF;
    color:#fff;
  }
}

.table {
  &__wrapper {
    @include a-v("margin-top", 30);
    @include a-v("margin-bottom", 30);
    @include a-v("border-radius", 20);
    @include border("border", 1, solid, #5386FF);
    @include a-v("font-size", 24);
    @include a-v("line-height", 24);
    overflow: hidden;
  }

  &__item {
    @include a-v("padding-top", 10);
    @include a-v("padding-right", 10);
    @include a-v("padding-bottom", 10);
    @include a-v("padding-left", 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item:nth-child(odd) {
    background-color:#BED1FF;
  }
  &__item:nth-child(even) {
    background-color:#F2F6FF;
  }

  &__item-part {
    width: 33.333333%;
  }

  &__item-title{
    @include border("border-bottom", 2, solid, #5386FF);
  }

  &__item-subtitle{
    font-family: 'Roboto-Medium';
    font-weight: 500;
  }

  &__item-part-title{
    @include a-v("font-size", 26);
    @include a-v("line-height", 26);
    font-family: 'Roboto-Medium';
    font-weight: 500;
  }
}




@import "media";